{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }} in {{ app['chat.name'] }}{%endblock%}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/chat.css') }}" type="text/css" />
{% endblock %}

{% block body %}
<div class="container">
    <div class="chat-topic">
        {{ topic }}
    </div>
    <div class="chat-messages"></div>
    <div class="chat-users">
        <div class="user-controls">
            <div class="user-profile">Профиль</div>
            <a href="{{ path('logout') }}" class="user-logout">Выход</a>
        </div>
    </div>
    <div style="clear: both"></div>
    <div class="chat-controls"></div>
</div>
{% endblock %}
