{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }} in {{ app['chat.config.title'] }}{%endblock%}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/chat.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/chat.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="chat-topic">
        {{ app['chat.config.topic'] }}
    </div>
    <div class="chat-messages">
        <div class="messages-container" data-ajax-block="{{ path('messages') }}"></div>
    </div>
    <div class="chat-users">
        <div class="user-controls">
            <div class="user-profile">Профиль</div>
            <a href="{{ path('logout') }}" class="user-logout">Выход</a>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="admin-controls">
            <a class="admin-link">Админка</a>
        </div>
        {% endif %}
        <div id="users-list" data-ajax-block="{{ path('users-list') }}"></div>
    </div>
    <div style="clear: both"></div>
    <div class="chat-controls">
        {{ form_start(chat_controls) }}
        {{ form_widget(chat_controls.clear, {'label':'X', 'attr':{'class':'control-clear', 'title':'Очистить все поля'}}) }}
        {{ form_widget(chat_controls.to, {'attr':{
            'class': 'control-to',
            'readonly': true,
            'title': 'Имя человека для кого предназначено сообщение. Кроме него его никто не увидит. Для отправки нажмите <= напротив ника кому хотите написать.'
        }}) }}
        {% if is_granted('ROLE_MODERATOR') %}
            {{ form_widget(chat_controls.color, {'attr':{'class':'control-color'}}) }}
        {% endif %}
        {{ form_widget(chat_controls.message, {'attr':{'class':'control-message'}}) }}
        <div class="smiles-container">
            <div id="smilebox">
            {% for text, img in smiles %}
                <img src="{{ asset('img/smiles/' ~ img) }}" data-smile-text="{{ text }}"/>
            {% endfor %}
            </div>
        </div>
        {{ form_widget(chat_controls.smiles_button, {'label':'Смайлики', 'attr':{'class':'control-smiles-button'}}) }}
        {{ form_widget(chat_controls.send, {'label':'Отправить', 'attr':{'class':'control-send'}}) }}
        {{ form_end(chat_controls) }}
    </div>
</div>
{% endblock %}
