{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    jQuery(function($){
        $('#register_button').click(function(){
            location = '{{ path('register') }}';
        });
    });
</script>
{% endblock %}

{% block body %}
<div class="login-container">
    <div class="chat-title">Чат (бета)</div>
    <form action="{{ path('login_check') }}" method="post">
        <div class="error">{{ error }}</div>
        <div><b>Логин</b></div>
        <div><input type="text" name="_username" value="{{ last_username }}" /></div>
        <div><b>Пароль</b></div>
        <div><input type="password" name="_password" value="" /></div>
        <div><input type="submit" value="Войти"/></div>
        <div><input id="register_button" type="button" value="Регистрация"/></div>
    </form>
    Сейчас в чате {{ online_users|length>0 ? online_users|join(', ') : 'никого нет :-(' }}
</div>
{% endblock %}
