{% for message in messages %}
    {% set messageDate = message.created_at|date('d.m.Y') %}
    {% set messageTime = message.created_at|date('H:i:s') %}
    {% set messageClass = 'message-service' %}
    {% if message['recipient_id'] is defined %}
        {% set messageClass = 'message-private' %}
    {% elseif message['user_id'] is defined %}
        {% set messageClass = 'message-public' %}
    {% endif %}
    <div class="chat-message {{ messageClass }}">
        {% if is_granted('ROLE_MODERATOR') %}
            <span data-ajax-send="{{ path('message-delete', {'id': message.id}) }}" class="message-delete">x</span>
        {% endif %}
        <span class="{{ app.user.username in message.message ? 'message-with-you' }}">
        {% if ('now'|date('U') - message.created_at|date('U')) < 60 %}
            <span class="message-new">(Новое!)</span>
        {% endif %}

        {% if message['user_id'] is defined %}
            <span title="{{ messageDate }}">[{{ messageTime }}]</span>
        {% else %}
            [{{ messageDate }} {{ messageTime }}]
        {% endif %}

        {% if message['user_id'] is defined %}
            {% if message.user.ability('ABIL_INVIS') %}
                <i>невидимка</i>
            {% else %}
                <span data-nick="{{ message.user.name }}">
                    {{ (message.user.ability('ABIL_COLOR_NAME') ?: message.user.name)|raw }}
                </span>
            {% endif %}
        {% endif %}

        {% if message['recipient_id'] is defined %}
            =&gt; {{ (message.recipient.ability('ABIL_COLOR_NAME') ?: message.recipient.name)|raw }}
        {% endif %}
        :
        {{ message.message|smiles|raw }}
        </span>
    </div>
{% endfor %}
