{% for user in users %}
    <div>
    {% if is_granted('ROLE_REGISTRATOR') or user.ability('ABIL_INVIS') is null %}
        {% if is_granted('ROLE_MODERATOR') and (app.user.profile.role_id - user.role_id)>0 %}
            <a href="" class="kick-button" title="Kick"></a>
            <a href="" class="ban-button" title="Ban"></a>
        {% endif %}
        {# avatar #}
        <b>{{ (user.ability('ABIL_COLOR_NAME') ?: user.name)|raw }}</b>
        <span data-nick="{{ user.name }}" title="приват">&lt;=</span>
        <span title="профиль">[i]</span>
        {% if user.isSilent %}
            {% if is_granted('ROLE_REGISTRATOR') %}
                <a href=""><img src="{{ asset('img/silent.png') }}" title="На пользователе молчанка"/></a>
            {% else %}
                <img src="{{ asset('img/silent.png') }}" title="На пользователе молчанка"/>
            {% endif %}
        {% endif %}
        {% if user.ability('ABIL_WEDDING') %}
            <img src="{{ asset('img/rings.png') }}" title="Брачные узы с {{ user.ability('ABIL_WEDDING') }}"/>
        {% endif %}
        {% if user.ability('ABIL_INVIS') %}
            <img src="{{ asset('img/hidden.gif') }}" title="Невидимость"/>
        {% endif %}
    {% endif %}
    </div>
{% endfor %}
