{% for user in users %}
    <div>
    {% if is_granted('ROLE_REGISTRATOR') or user.ability('ABIL_INVIS') is null %}
        {% if is_granted('ROLE_MODERATOR') %}
            {% if is_granted('CAN_KICK', user) %}<span data-ajax-send="" class="kick-button" title="Kick"></span>{% endif %}
            {% if is_granted('CAN_BAN', user) %}<span data-ajax-send="" class="ban-button" title="Ban"></span>{% endif %}
        {% endif %}
        {# avatar #}
        <b>{{ (user.ability('ABIL_COLOR_NAME') ?: user.name)|raw }}</b>
        <span data-nick="{{ user.name }}" title="приват">&lt;=</span>
        <span title="профиль">[i]</span>
        {% if user.isSilent %}
            <img
                {% if is_granted('ROLE_REGISTRATOR') %}
                    data-ajax-send="{{ path('user-voice', {'userId': user.id}) }}"
                {% endif %}
                src="{{ asset('img/silent.png') }}"
                title="На пользователе молчанка"
            />
        {% endif %}
        {% if user.ability('ABIL_WEDDING') %}
            <img src="{{ asset('img/rings.png') }}" title="Брачные узы с {{ user.ability('ABIL_WEDDING') }}"/>
        {% endif %}
        {% if user.ability('ABIL_INVIS') %}
            <img src="{{ asset('img/hidden.gif') }}" title="Невидимость"/>
        {% endif %}
    {% endif %}
    </div>
{% endfor %}
